.button{
  background-color: purple;
  color:cyan;
  text-decoration: underline;
  padding: 10px 20px;
  height :40px;
  width:150px;
  font-size: 18px;
}
.btnStyle{
  background-color: blue;
  color:white;
}
.h1{
  color:purple;
}



/* .blue{
  color:blue;
}
.red{
  color:red;
}
.box{
  border: 1px solid black;
  background-color: pink;
} */

/* body {
  font-family: Arial;
}

#mainImg {
  width: 35%;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
} */
